@import './reset.scss';

@font-face {
  font-family: 'SF UI Text';
  src: url('@/assets/fonts/SFUIText-Regular.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('@/assets/fonts/SFUIText-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('@/assets/fonts/SFUIText-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('@/assets/fonts/SFUIText-Bold.ttf');
  font-weight: 700;
}

html {
  background: #fff;
  font-family: 'SF UI Text', 'Roboto', sans-serif;
  color: #3F414E;
}

html, button, select, input, textarea {
  font-family: 'SF UI Text', 'Roboto', sans-serif;
}

body {
  margin-top: 95px;
}

.container {
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

.page-inner {
  min-height: 70vh;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

a {
  color: #3A88FD;
}

.cabinet-block {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #DEE0E4;
  border-radius: 6px;
  padding: 24px 36px;
  width: 860px;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 60px;
  }
  h2.block-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.cabinet-main {
  display: flex;
  justify-content: space-between;
}


.address-container{
  display: flex;
}

.addres-item{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 993px){
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .desktop-only {
    display: none !important;
  }
  .container {
    padding: 0 18px;
  }
}




// Transitions

.answer-enter, .answer-leave-to {
  transform: scaleY(0);
}

.answer-enter-active, .answer-leave-active {
  transition: transform .5s;
}